html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4em;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgba(255, 255, 255, 0.9);
    background: #242424;
  }
}
