.mainpagenav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.mainpagenav li {
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em 1em;
}

.main {
  min-height: 70vh;
  padding: 4rem 2em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer {
  display: flex;
  justify-content: center;
}
