.main {
  min-height: 70vh;
  padding: 2rem 2em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.heading {
  margin-bottom: 0;
  font-size: 3em;
}

.subheading {
  margin-top: 0;
}

.footer {
  display: flex;
  justify-content: center;
}
